# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test changes CI

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'fix:')
       || contains(github.event.head_commit.message, 'feat:')
       || contains(github.event.head_commit.message, 'feature:')
       || contains(github.event.head_commit.message, 'refactor:')
       || contains(github.event.head_commit.message, 'test:')
       || contains(github.event.head_commit.message, 'ci:')
       || contains(github.event.head_commit.message, 'chore:')
       || contains(github.event.head_commit.message, 'build:')
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache Node Modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - run: yarn prestart
      - run: yarn build
      - run: yarn test
